.panier-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.panier-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--chakra-colors-orange-500);
}

.panier-empty {
  text-align: center;
  padding: 2rem;
  border: 2px dashed var(--chakra-colors-chakra-border-color);
  border-radius: 0.5rem;
}

.panier-empty p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.continuer-shopping {
  background: #03A9F4;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
}

.panier-layout {
  display: contents;
  flex-direction: row;
  gap: 2rem;
}

.panier-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.panier-item {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--background-panier-item);
  border-radius: 0.5rem;
}

.panier-item-image {
  flex-shrink: 0;
  margin: auto;
  width: 50px; /* Increased size */
  height:50px; /* Increased size */
}

.panier-item-image img {
  border-radius: 0.5rem;
  object-fit: cover; /* Better framing */
  width: 100%;
  height: 100%;
}

.panier-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.panier-item-details h2 {
  font-size: 1rem;
  color: var(--chakra-colors-chakra-body-text);
  font-weight: 600;
  width: fit-content;
}

.panier-item-details p {
  margin: 0.5rem 0;
  width: fit-content;
  color: var(--chakra-colors-chakra-body-text);
}

.panier-item-quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.quantity-btn {
  border: 1px solid #039BE5;;
  border-radius: 50%;
  width: 30px;
  color: #039BE5;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-item-btn {
  background: none;
  border: none;
  color: #ef4444;
  cursor: pointer;
  margin-left: 1rem;
}

.panier-summary {
  width: 300px;
  flex-shrink: 0;
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: fit-content;
}

.panier-summary h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--chakra-colors-chakra-body-text);
}

.checkout-btn {
  width: 100%;
  padding: 1rem;
  background-color: #03A9F4;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #e07b00;
}

.guest-message {
  background-color: #fff3e0;
  border: 1px solid #ffe0b2;
  color: #e65100;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.guest-message a {
  color: #e65100;
  font-weight: 700;
  text-decoration: underline;
}