/* app/Panier.css */

.panier-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color:white ;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.panier-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.panier-empty {
  text-align: center;
  padding: 2rem;
  background-color: rgb(255, 246, 241);
  border: 2px dashed #e2e8f0;
  border-radius: 0.5rem;
}

.panier-empty p {
  font-size: 1rem;
  background-color: rgb(255, 246, 241);
  margin-bottom: 1.5rem;
}

.continuer-shopping {
  background-color: #ff8f00;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
}

.panier-layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.panier-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.panier-item {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  background-color: white;
}

.panier-item-image {
  flex-shrink: 0;
  margin: auto;
  width: 50px; /* Increased size */
  height:50px; /* Increased size */
}

.panier-item-image img {
  border-radius: 0.5rem;
  object-fit: cover; /* Better framing */
  width: 100%;
  height: 100%;
}

.panier-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.panier-item-details h2 {
  font-size: 1rem;
  font-weight: 600;
}

.panier-item-details p {
  margin: 0.5rem 0;
}

.panier-item-quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.quantity-btn {
  background-color: #f7fafc;
  border: 1px solid #e2e8f0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-item-btn {
  background: none;
  border: none;
  color: #ef4444;
  cursor: pointer;
  margin-left: 1rem;
}

.panier-summary {
  width: 300px;
  flex-shrink: 0;
  padding: 1.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  background-color: #f7fafc;
  height: fit-content;
}

.panier-summary h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.checkout-btn {
  width: 100%;
  padding: 1rem;
  background-color: #e63198;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #e07b00;
}

@media (max-width: 768px) {
  .panier-layout {
    flex-direction: column-reverse;
  }

  .panier-summary {
    width: 100%;
  }
}

