/* styles/video-banner.css */

.animated-video-container {
    transition: opacity 1s ease-in-out;
    opacity: 1;
    z-index: 9999;
    background-color: aliceblue;
  }
  
  .fade-out {
    opacity: 0;
    pointer-events: none;
  }
  .video_animate-wrapper {
    transition: max-height 0.8s ease-in-out, opacity 0.6s ease-in-out;
    overflow: hidden;
    z-index: 9999;
    max-height: 500px;
    opacity: 1;
  }
  
  .video_animate-wrapper.collapsed {
    max-height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }
  
  .animated-video{
    height: auto;
    width: 100%;
    margin-top: -180px;
  }
  .video_animate{
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  .banner-video {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Couvre tout l'espace sans déformation */
  }
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: brightness(0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .animated-video {
    width:100%; height:auto;
    image-rendering: auto; /* utile pour images, mais bon à laisser */
    transform: translateZ(0); /* Crée un contexte GPU pour une vidéo plus fluide */
    will-change: transform; /* Indique au navigateur que la vidéo sera animée */
    backface-visibility: hidden; /* Réduit le flou pendant le scroll */
  }
  .animated-video { width:100%; height:auto; }
  .video_animate { width:100%; overflow:hidden; }
  @media (min-width: 769px) {
    .video_animate-wrapper.collapsed {
      max-height: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
      pointer-events: none;
    }
  }
  @media (max-width: 768px) {
    .video_animate-wrapper.collapsed {
      max-height: none !important;
      opacity: 1 !important;
      pointer-events: auto;
    }
    .video-banner {
      height: 400px;
    }
    .animated-video {
        height: 80%;
        margin-top: 0;
    }
    .video_animate {
        justify-content: center;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .video-overlay {
      font-size: 2rem;
    }
    .video_animate-wrapper {
        max-height: 800px;
        transition: max-height 0.8s ease-in-out, opacity 0.6s ease-in-out;
        overflow: hidden;
        z-index: 9999;
      }
  }
    